body { max-width: 46em; }

div.story > p {
    text-align: justify;
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div.scene { margin-top: 4em; }

hr.dinkus {
    width: 30%;
    margin-top: 2em;
    margin-bottom: 2em;
}

div.footer { margin-top: 2em; }
